/* MAIN */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

.dash-debug-menu__outer,
.dash-debug-menu {
    display: none !important;
}

.main-container {
    margin-left: 80px;
    transition: margin-left 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/* HEADER */
header {
    width: 100%;
    height: 45px;
    background: #0072C6;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
    border-left: 2px solid #5aa0f9b2;
}

.icon-menu {
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon-menu i {
    font-size: 20px;
    color: white;
    cursor: pointer;
    /* position: absolute; */
}

.icon-menu h3 {
    color: white;
    float: left;
    margin-left: 20px;
    letter-spacing: 2px;
}

/* MENU */
.menu-container {
    width: 80px;
    height: 100%;
    background: #0072C6;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 18px;
    z-index: 1000;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #0072C6;
    /* border: 1px solid #5aa0f9b2; */
    transition: all 350ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.menu-container::-webkit-scrollbar {
    display: none;
}

.menu-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page-title {
    padding: 20px 30px;
    align-items: center;
    margin-top: 10px;
}

.page-title a {
    display: flex;
    color: #ffffffb2;
    transition: all 300ms;
}

.page-title i {
    width: 20px;
    margin-right: 20px;
}

.page-title a:hover {
    color: white;
}

.opts-menu {
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.opts-menu a {
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transform: color 300ms;
}

.opts-menu a:hover {
    color: white;
    /*BUSCAR COLOR */
}

.opts-menu .opt {
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.opts-menu .opt i {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.opts-menu .opt h4 {
    font-weight: 300;
    cursor: pointer;
}

/* clases para js */
.body-moved {
    margin-left: 250px;
}

.menu-container-moved {
    width: 250px;
}

/* CONTAINERS */
.content-container {
    margin-top: 45px;
}

/* inicio */
.inicio-container {
    padding-top: 45px;
}

.content-title {
    font-size: 35px;
    text-align: center;
    justify-content: center;
    color: #333333;
    margin: 30px 30px 30px 30px;
}

.inicio-container h2 {
    text-align: center;
    font-size: 25px;
}

.inicio-parrafos-container {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.inicio-parrafo-container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.inicio-parrafo {
    font-size: 20px;
    text-align: justify;
}

.inicio-parrafos-container h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.inicio-parrafos-container ul li {
    font-size: 20px;
    list-style-type: square;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: justify;
}

/* linea del tiempo */
.linea-de-tiempo-container {
    padding-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.linea-de-tiempo-container h2 {
    font-size: 25px;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    color: #333333;
    /* color */
}

.linea-de-tiempo-container h3 {
    font-size: 25px;
    /* color */
}

.timeline-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.timeline-content p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.linea-de-tiempo-titulo-secundario {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* mediciones */
.mediciones-container {
    padding: 30px;
    /* background-color: #f5f5f5; */
}

.mediciones-container h2 {
    font-size: 25px;
}

.mediciones-label {
    font-size: large;
}

.dash-graph {
    width: 100%;
    height: 100%;
}

.dash-dropdown {
    padding-bottom: 15px;
}

.mediciones-parrafo {
    margin-top: 10px;
    margin-bottom: 15px;
}

.mediciones-parrafo p {
    font-size: 20px;
    text-align: justify;
}

.mediciones-titulo-secundario {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
}

/* informes */
.informe-container {
    padding: 30px;
    /* background-color: #f5f5f5; */
}

.informe-container h2 {
    font-size: 25px;
}

.informe-parrafo {
    font-size: 20px;
    text-align: justify;
}

.informe {
    margin-top: 25px;
    width: 100%;
    height: 850px;
}

/* archivos */
.archivos-container {
    padding: 30px;
    /* background-color: #f5f5f5; */
}

.archivos-container h2{
    font-size: 25px;
}

.archivos_parrafo {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 20px;
    text-align: justify;
}

#simulaciones-button {
    color: black;
}

.archivos-descargas-btn {
    background-color: #caffff;
    border: #0072C6 1px solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    height: 60px;
    text-align: center;
    width: 200px;
    transition: all .3s;
}

.archivos-descargas-btn:hover {
    background-color: #0072C6;
}

.archivos-descargas-btn:hover:active {
    background-color: #5aa0f9;
}

.archivo-link {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    text-decoration: none;
    justify-content: center;
}



/* MEDIA QUERIES */
@media screen and (max-width: 760px) {
    .body-moved {
        margin-left: 0px;
    }

    .menu-container-moved {
        width: 80px;
        left: -80px;
    }

    .dash-graph {
        width: 100%;
        height: 300px;
    }
}